.inputAndInstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 110px;
}

.buttonAndLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 120px;
}

.rememberPassword {
  margin-top: 10px;
}

.input {
  width: 100%;
}
