@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 6px 28px;

  &:focus-visible {
    border: 2px solid var(--info-700, #2f68cc);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  background: var(--primary-500, #8c61ff);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover:enabled {
    background: var(--primary-300, #a280ff);
  }

  &:active:enabled {
    background: var(--primary-700, #704ecc);
  }
}

.secondary {
  @include button;

  color: var(--color-text-primary);
  background-color: var(--color-dark-300);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  @include button;

  color: var(--primary-500, #8c61ff);
  background-color: var(--color-dark-900);
  border: 1px solid var(--primary-500, #8c61ff);
  border-radius: 4px;

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
  }
}

.link {
  @include button;

  padding: 0.375rem 0;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-decoration: none;

  p {
    color: var(--primary-500, #8c61ff);

    &:hover {
      color: var(--primary-300, #a280ff);
    }

    &:active {
      color: var(--primary-700, #704ecc);
    }

    &:focus-visible {
      border-radius: 10px;
    }
  }
}
