.container {
  margin: 12px 136px;
}

.input {
  width: 100%;
  max-width: 300px;
}

.caption {
  display: flex;
  justify-content: space-between;
  margin: 36px 0;
}

.sectionSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pagination {
  justify-content: center;
  margin-top: 1.5rem;
}

.button {
  background-color: black;
}
