.container {
  width: 100%;
  max-width: 26.25rem;
  margin: 36px auto;
  padding: 2.062rem 2.25rem 1.75rem;
}

.title {
  margin-bottom: 27px;
}

.emailInstructions {
  margin: 19px 0 65px;
  color: var(--color-dark-100);
  text-align: center;
}
