.inputWrapper {
  display: flex;
  gap: 9px;
  align-items: center;
  max-width: 200px;
}

.logout {
  width: 128px;
  height: 38px;
  margin-top: 13px;
}

.email {
  color: var(--color-dark-100);
}

.editName {
  width: 16px;
  height: 16px;
  padding: 4px;

  background-color: rgb(255 255 255 / 0%);
  box-shadow: none;
}
