.container {
  width: 100%;
  max-width: 36.25rem;
  margin: 36px auto;
  padding: 2.062rem 2.25rem 1.75rem;
}

.img {
  width: 350px;
  height: 200px;
  margin: 20px 36px;
}

.button_link {
  margin: 12px 112px;
}

.conditions {
  color: var(--Dark-100, #808080);
}

.radioGroup {
  margin: 20px 36px;
}

.question {
  margin: 20px 36px;
}

.answer {
  margin: 20px 36px;
}

.infoText {
  margin-top: 4rem;
  color: var(--color-dark-100);
  text-align: center;
}

.coverPack {
  img {
    width: 480px;
    height: 120px;
  }
}
