.h1 {
  /* H1 */
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px; /* 180% */
  color: var(--color-light-100);
}

.h2 {
  /* H2 */
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 133.333% */
  color: var(--color-light-100);
}

.h3 {
  /* H3 */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 150% */
  color: var(--color-light-100);
}

.link1 {
  /* Link 1 */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--primary-500, #397df6);
  text-decoration-line: underline;
}

.link2 {
  /* Link 2 */
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  color: var(--primary-500, #397df6);
  text-decoration-line: underline;
}

.body1 {
  /* Body 1 */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 150% */
  color: var(--color-light-100);
}

.body2 {
  /* Body 2 */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--color-light-100);
}

.large {
  /* Large */
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px; /* 138.462% */
  color: var(--color-light-100);
}

.subtitle1 {
  /* Subtitle 1 */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 150% */
  color: var(--color-light-100);
}

.subtitle2 {
  /* Subtitle 2 */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px; /* 171.429% */
  color: var(--color-light-100);
}

.caption {
  /* Caption */
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  color: var(--color-light-100);
}

.overline {
  /* Overline */
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px; /* 133.333% */
  color: var(--color-light-100);
}
