button {
  all: unset;
}

.RadioGroupRoot {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.RadioGroupItem {
  cursor: pointer;

  width: 14px;
  height: 14px;

  background-color: rgb(0 0 0 / 0%);
  border: 2px solid var(--color-accent-500);
  border-radius: 50px;

  &:focus-visible {
    box-shadow: 0 0 0 10px var(--color-dark-700);
  }
}

.RadioGroupWrapper {
  display: flex;
  align-items: center;

  &:hover {
    .RadioGroupItem {
      box-shadow: 0 0 0 10px var(--color-dark-500);
    }

    .RadioGroupNotIndicator::after {
      background-color: var(--color-dark-500);
    }
  }

  &:active {
    .RadioGroupItem {
      border-radius: 50px;
      box-shadow: 0 0 0 10px var(--color-accent-900);
    }

    .RadioGroupNotIndicator::after {
      background-color: var(--color-accent-900);
    }
  }
}

.RadioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.RadioGroupIndicator::after {
  content: '';

  display: block;

  width: 12px;
  height: 12px;

  background-color: var(--color-accent-500);
  border: 2px solid var(--color-dark-900);
  border-radius: 50px;
}

.RadioGroupNotIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.Label {
  cursor: pointer;
  padding-left: 14px;
  font-size: 15px;
  line-height: 1;
}
