.container {
  margin: 12px 136px;
}

.input {
  width: 100%;
  max-width: 300px;
}

.name {
  cursor: pointer;
}

.caption {
  display: flex;
  justify-content: space-between;
}

.sectionSearch {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 36px;
}

.pagination {
  justify-content: center;
  margin-top: 1.5rem;
}

.button {
  height: 36px;
  background-color: rgb(0 0 0/0%);
  box-shadow: none;
}

.TabSwitcherTitle {
  margin: 5px 0;
}
