@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-dark-300);
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  width: 90vw;
  max-width: 450px;
  max-height: 50vh;
  padding: 0 25px;

  background-color: var(--color-dark-500);
}

.dialogTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: min-content;
  margin: 10px;
}

.closeButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background: transparent;
  border: none;
  border-radius: 50%;

  transition: var(--transtition-duration-basic) background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-100);
    outline: none;
  }
}

.closeIcon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.dialogDescription {
  margin: 10px;
}
