.container {
  width: 100%;
  max-width: 26.25rem;
  height: 456px;
  margin: 36px auto;
  padding: 2.062rem 2.25rem 1.75rem;
}

.inputAndInstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 110px;
}

.buttonAndLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 120px;
}

.input {
  width: 100%;
}

.rememberPassword {
  margin-top: 10px;
}

.rememberPassword {
  color: var(--color-dark-100);
}
